<label for="{{axis}}axis">{{axis}} axis
  <select name="{{axis}}axis" id="{{axis}}Axis">
    <option selected>---</option>
    {{#each columns}}
      <option value="{{name}}">{{name}} ({{type}})</option>
    {{/each}}
  </select>
</label>
